.progress-bar-btn {
  background-color: rgb(36, 36, 36);
  border: 0;
  outline: 0;
  width: 200px;
  line-height: 50px;
  color: rgb(232, 224, 224);
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
}
